<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yidian.chengshengda">
    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--华为角标-->
    <uses-permission
        android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:name=".base.App"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" /> <!-- 适配小米刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait" /> <!-- 适配华为刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yidian.chengshengda.utils.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external_path"/>
        </provider>


        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101913220" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey" android:value="51ba1c18bd76908aa71010b87d3469f7">
        </meta-data>
        <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 主页 -->
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 注册 -->
        <activity
            android:name=".regist.activity.RegistActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 忘记密码 -->
        <activity
            android:name=".remember.activity.RememberPwdActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 登录 -->
        <activity
            android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 设置页 -->
        <activity
            android:name=".setup.SetupActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 引导页 -->
        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait">

        </activity>

        <!-- 修改密码 -->
        <activity
            android:name=".changepwd.ChangePwdActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 选择区域 -->
        <activity
            android:name=".main.activity.SeleteAreaActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- 站点详情 -->
        <activity
            android:name=".details.SiteDeletails"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>